<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>985217350019-1ids01t2igidvidgavegc73f4m2bj1ct.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.985217350019-1ids01t2igidvidgavegc73f4m2bj1ct</string>
	<key>API_KEY</key>
	<string>AIzaSyD-p-x0bhe1ydU9RwVq24lShjHmhL7f77w</string>
	<key>GCM_SENDER_ID</key>
	<string>985217350019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nextStage</string>
	<key>PROJECT_ID</key>
	<string>nextstage-db</string>
	<key>STORAGE_BUCKET</key>
	<string>nextstage-db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:985217350019:ios:3eef6e3412f1de6b8c5eb6</string>
</dict>
</plist>